footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #53595C;
    height: 15%;
    align-items: center;
    margin-top: 4%;
}

.footer-ul {
    width: 27%;
    display: flex;
    justify-content: center;
}

.footer-ul li {
    list-style: none;
    margin: 10px;
    color: #C7C7C7;
    padding-right: 15px;
    border-right: 1px solid #C7C7C7;
}

.footer-ul li:last-child{
   border: none;
}