@import "../../settings/settings-colors";
@import "../../utilities/utilities-property-constants";

.c-become-a-part {
    position: relative;
    background-color: $Blue300;
    color: $White;
    padding: 0 $phone-side-padding;
    margin-top: 24%;

    @include between-600-and-1200 {
        margin-top: 150px;
    }

    // Blue stripe
    &:before {
        content: "";
        @include position(absolute, 0, 0);
        height: 12px;
        width: 100%;
        background-color: $Blue200;
    }

    &__title {
        margin: 21% 0 7% 0;

        @include between-600-and-1200 {
            margin-top: 100px;
            width: $tabletWidth;
            text-align: center;
        }
    }

    &__text {
        margin-bottom: 14%;

        @include between-600-and-1200 {
            width: $tabletWidth;
            margin-bottom: 50px;
        }
    }

    &__input-fields-wrapper {
        display: block;
        width: 100%;

        @include between-600-and-1200 {
           width: $tabletWidth;
           text-align: center;
        }
    }

    &__input {
        padding: 5% 5%;
        border: 1px solid white;
        border-radius: 6px;
        margin-bottom: 10%;
        width: 100%;
        background-color: $Blue300;
        border: 1px solid $White;

        &::placeholder {
            color: $White;
        }

        @include between-600-and-1200 {
            width: $tabletWidth;
            padding: 20px;
            margin-bottom: 30px;
        }
    }

    &__button {
        margin-top: 4%;
        margin-bottom: 19%;
        padding: 4% 38.5%;
    }
}
