@import "../../settings/_settings-colors";

.c-teachers {
    margin-top: 35.5%;

    @include between-600-and-1200 {
        margin-top: 100px;
    }

    &__teacher {
        margin-bottom: 12%;

        @include between-600-and-1200 {
            margin-bottom: 30px;
        }
    }

    &__teacher--desktop {
        display: none;
    }
}

.c-teacher {
    &__name {
        margin: 7% 0 3% 0;
        color: $Primary300;

        @include between-600-and-1200 {
            margin: 10px 0 10px 0;
        }
    }

    &__role {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: $Grey400;
    }
}
