.header-ul {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.header-ul li {
    cursor: pointer;
    list-style: none;
    color: #9D9D9D;
    font-weight: bold;
    text-transform: uppercase;
}