.program {
  text-align: center;
}

.program__header {
  width: 70%;
  margin: 0 auto;
}

.program__header .program__title {
  text-align: center;
  color: #41bead;
}

.program__header .program__info {
  color: #565656;
  margin: 0;
  margin-bottom: 64px;
}

@media (max-width: 599px) {
  .program__header .program__info {
    text-align: left;
  }
}

.program .program__card-section {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .program .program__card-section {
    display: block;
    text-align: -webkit-center;
  }
}

.program .program__card-section .program__card {
  position: relative;
  padding: 33px 50px;
  width: 610px;
}

@media (max-width: 1200px) {
  .program .program__card-section .program__card {
    width: 60%;
    margin-bottom: 2%;
    padding: 20px 20px;
  }
}

.program .program__card-section .program__image {
  position: absolute;
  top: 22%;
  left: 26%;
}

@media (max-width: 1200px) {
  .program .program__card-section .program__image {
    top: 20%;
    left: 23%;
  }
}

@media (max-width: 599px) {
  .program .program__card-section .program__image {
    display: none;
  }
}

.program .program__card-section .program__card__title {
  padding-left: 90px;
}

@media (max-width: 599px) {
  .program .program__card-section .program__card__title {
    padding: 0;
  }
}

.program .program__card-section .program__card--blue {
  background-color: #e3f3fd;
  border: 4px solid #44a9f8;
  box-sizing: border-box;
  border-radius: 12px;
}

.program .program__card-section .program__card__title--blue {
  color: #44a9f8;
}

.program .program__card-section .program__card--green {
  background-color: #dff4f1;
  border: 4px solid #00af9b;
  box-sizing: border-box;
  border-radius: 12px;
}

.program .program__card-section .program__card__title--green {
  color: #00af9b;
}

.program .program__card-section .program__card__info {
  margin: 0;
  padding-bottom: 30px;
}

@media (max-width: 599px) {
  .program .program__card-section .program__card__info {
    text-align: left;
  }
}

.program .program__card-section .program__card__button {
  padding: 14px 32px;
  background-color: #ff9100;
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 599px) {
  .program .program__card-section .program__card__button {
    font-size: 10px;
    line-height: 16px;
    padding: 7px 32px;
  }
}
