@import "../../settings/settings-colors";
@import "../../settings/settings-mixins";
@import "../../settings/settings-shadows";

.main__c-course-path {
    width: 100%;
    height: 760px;
    background-color: $Secondary500;
    position: relative;
    margin-top: 10%;
    box-shadow: $Shadow1dp;

    @include for-desktop-up {
        height: 560px;
    }
    @include between-600-and-1200 {
        text-align: center;
    }

    // Dots image start section
    &:before {
        content: url("../../assets/icons/yellow section.svg");
        @include position(absolute, -9px, 0%);

        @include for-desktop-up {
            content: url("../../../assets/icons/course-path-desktop.svg");
            @include position(absolute, -10px, 0);

            @media screen and (min-width: 1467px) {
                @include position(absolute, -10px, 6%);
            }
        }
        @include between-600-and-1200 {
            display: none;
        }
    }

    // Dots image end section
    &:after {
        content: url("../../assets/icons/yellow\ section\ end.svg");
        @include position(absolute, 752px, 0);

        @include for-desktop-up {
            content: url("../../../assets/icons/course-path-desktop-shadow.svg");
            @include position(absolute, 552px, 0);

            @media screen and (min-width: 1467px) {
                @include position(absolute, 552px, 6%);
            }
        }

        @include between-600-and-1200 {
            display: none;
        }
    }

    &__title {
        margin: 0 0 10% 17%;
        padding-top: 10%;
        font-weight: 600;

        @include between-600-and-1200 {
            margin: 0 0 20px 0;
        }

        &:before {
            content: url("../../assets/icons/book.svg");
            @include position(absolute, 5%, 5%);

            @include for-desktop-up {
                @include position(absolute, 7%, -9%);
            }

            @include between-600-and-1200 {
                display: none;
            }
        }
    }

    &__text {
        padding: 0 5%;
    }

    &__title-exercises {
        margin-right: 65%;
        margin-bottom: 15px;

        @include between-600-and-1200 {
            margin: 10px 0 20px 0;
        }
    }

    &__input {
        background-color: $White;
        width: 335px;
        border-radius: 6px;
        border: none;

        padding: 2%;
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;

        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-column-gap: 3px;
        align-items: center;

        @include between-600-and-1200 {
            width: 450px;
        }
    }

    &__icon {
        display: none;
    }
}
