@import "../../settings/_settings-colors.scss";
@import "../../settings/_settings-mixins.scss";

.signup {
    @include position(absolute, 47%, 5%);
    box-shadow: $Shadow1dp;
    border-radius: 12px;
    background-color: $White;
    width: 90%;
    height: 562;
    z-index: 1;

    @include for-desktop-up {
        @include position(absolute, 39%, 5.5%);
        display: flex;
        margin: 0;
        padding: 0;
        height: 115px;
        width: 1290px;
    }

    @include for-1500-up {
        left: 12%;
    }

    @include between-600-and-1200 {
        @include position(absolute, 650px, 5.5%);
    }

    &__button__wrapper {
        text-align: center;

        .signup__button {
            margin-top: 50px;
            padding: 16px 94px;

            @include for-desktop-up {
                width: 165px;
                height: 50px;
                padding: 16px 10px;
                margin: 30px 65px;
            }
        }
    }

    &__image-wrapper {
        width: 105%;
        @include position(absolute, 29%, -2%);

        img {
            width: 99%;
        }

        @include for-desktop-up {
            position: relative;
            width: 10px;
            img {
                display: none;
            }

            &:after {
                content: url("../../assets/icons/vertical-dots.svg");
                @include position(absolute, -40px, 0);
            }
        }

        @include between-600-and-1200 {
            display: none;
        }
    }

    &__info {
        @include for-desktop-up {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        @include between-600-and-1200 {
        }
    }

    &__group {
        display: flex;
        margin: 0 0 8% 6%;
        position: relative;

        &::before {
            content: "";
            width: 24px;
            height: 2px;
            background-color: $Grey100;
            @include position(absolute, 120%, 0);

            @include between-600-and-1200{
                width: 100px;
                @include position(absolute, 130%, 40%);
            }
        }

        &:last-child::before {
            display: none;
        }

        @include for-desktop-up {
            padding: 0 6% 0 0;
            margin: 0;

            &::before {
                width: 2px;
                height: 24px;
                @include position(absolute, 30%, 87%);
            }
        }

        @include between-600-and-1200 {
            justify-content: center;
        }
    }

    &__price {
        margin-top: 25%;

        @include for-desktop-up {
            margin: 0;
        }

        @include between-600-and-1200 {
            margin-top: 10%;
        }
    }

    &__details {
        height: 60px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        margin-left: 24px;

        h4 {
            margin: 0;
            color: $Secondary800;
        }

        h5 {
            margin: 0;
            color: $Grey700;
        }
    }
}
