@import "../../settings/_settings-mixins";
@import "../../settings/_settings-colors";

.c-important {
    position: relative;

    @include between-600-and-1200{
      text-align: center;
    }

    &__title--desktop {
        display: none;

        @include for-desktop-up {
            display: block;
            font-weight: 600;
            margin: 0 0 3% 0;

            &:before {
                content: url(/assets/icons/puzzle.svg);
                @include position(absolute, 0%, -12%);
            }
        }
    }

    &__title {
        font-weight: 600;
        margin-top: 0;
        margin-right: 25%;

        &:before {
            content: url(/assets/icons/bell.svg);
            @include position(absolute, 0, 20px);

            @include between-600-and-1200{
                @include position(absolute, 0, 37%);
            }
        }

        @include for-desktop-up {
            display: none;
        }

        @include between-600-and-1200{
            margin: 0 0 10px 0;
        }
    }

    &__text {
        padding: 0 5%;
        margin-bottom: 8%;

        @include between-600-and-1200{
            margin-bottom: 20px;
            width: $tabletWidth;
            padding: 0;
        }

        & span {
            font-weight: bold;
        }
    }
}
