@import "../../settings/_settings-colors.scss";
@import "../../settings/_settings-mixins.scss";

.main-intro {
    margin-top: 142%;

    @include between-600-and-1200 {
        margin-top: 700px;
    }

    &__text {
        align-items: center;
        padding: 0 5% 8% 5%;
        color: $Grey700;
    }

    &__image-wrapper {
        position: relative;
        padding: 0 5%;

        @include between-600-and-1200 {
            text-align: center;
            transform: scale(1.2);
        }

        &__icon {
            @include position(absolute, 65px, 160px);

            @include for-desktop-up {
                @include position(absolute, 33%, 42%);
            }

            @include between-600-and-1200{
                @include position(absolute, 65px, 46%);
            }
        }
    }
}
