@import "../../settings/_settings-colors.scss";
@import "../../settings/_settings-mixins.scss";
.c-for-who {
    margin: 10% 0;
    width: 100%;
    position: relative;

    @include for-desktop-up {
        &:after {
            content: url("../../assets/icons/dots-yellow-vertical.svg");
            @include position(absolute, 0%, 120%);
        }
    }

    @include between-600-and-1200 {
        text-align: center;
        width: $tabletWidth;
        margin: 70px auto;
    }

    &__title {
        position: relative;
        width: 50%;
        margin-right: 10%;
        font-weight: 600;

        @include between-600-and-1200 {
            margin: 0 0 10px 0;
        }

        // Icon on the left of the title
        &:before {
            content: url(../../assets/icons/people.svg);
            @include position(absolute, 10%, -30%);

            @include for-desktop-up {
                @include position(absolute, 10%, -13%);
            }
            @include between-600-and-1200 {
                @include position(absolute, 10%, 0);
            }
        }
    }

    &__text {
        padding: 0 5%;
    }
    &__text span {
        font-weight: bold;
    }

    &__dots-image {
        margin-top: 10%;

        @include for-desktop-up {
            display: none;
        }
    }
}
