@import "../../settings/_settings-mixins";
@import "../../settings/_settings-colors";

.c-important {
    position: relative;

    &__title--desktop {
        display: none;

        @include for-desktop-up {
            display: block;
            font-weight: 600;
            margin: 0 0 3% 0;

            &:before {
                content: url(/assets/icons/puzzle.svg);
                @include position(absolute, 0%, -12%);
            }
        }
    }

    &__title {
        font-weight: 600;
        margin-top: 0;
        margin-right: 25%;

        &:before {
            content: url(/assets/icons/bell.svg);
            @include position(absolute, 0, 20px);
        }

        @include for-desktop-up {
            display: none;
        }
    }

    &__text {
        padding: 0 5%;
        margin-bottom: 8%;

        & span {
            font-weight: bold;
        }
    }
}
