/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
*, *::before, *::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b, strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button, select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html,
* {
  font-family: "Lato", sans-serif;
}

a,
button {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

button {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}

h4 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

h5 {
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

select {
  background: #ffffff;
  border: 1px solid #ff9100;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 18px;
  -webkit-appearance: none;
  min-width: 200px;
  min-height: 45px;
}

select:hover {
  cursor: pointer;
}

select::placeholder {
  color: #919191;
}

li {
  list-style: none;
}

.centered {
  text-align: center;
}

.centered__container {
  width: 65%;
  margin: 0 auto;
}

.header__info {
  background: #ff9100;
  color: #ffffff;
  padding: 80px 0;
  text-align: center;
}

.navbar {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__items {
  display: flex;
}

@media (max-width: 1200px) {
  .navbar__items {
    padding: 0;
    flex-flow: row wrap;
  }
}

.navbar__items .navbar__item {
  list-style: none;
  margin: 15px;
}

.navbar__items .navbar__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #565656;
}

.navbar__items .navbar__item a:hover {
  cursor: pointer;
  color: #ff9100;
}

.btn {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px 22px;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn--secondary {
  background: #ff9100;
  color: #ffffff;
}

.cards--wrapper {
  margin: 50px 0;
}

@media (max-width: 1200px) {
  .cards--wrapper {
    text-align: -webkit-center;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .cards {
    display: block;
  }
}

.cards .card {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  width: 400px;
}

@media (max-width: 1200px) {
  .cards .card {
    width: 60%;
    height: 30%;
    margin-bottom: 4%;
  }
}

.cards .card:hover {
  cursor: pointer;
  background: #f8f8f8;
}

.cards .card:hover .card__content {
  background: #f8f8f8;
}

.cards .card:hover .card__footer {
  background: #f8f8f8;
}

.cards .card__header {
  min-height: 160px;
  color: #ffffff;
  border-radius: 12px 12px 0px 0px;
}

.cards .card__header--blue {
  background: #44a9f8;
}

.cards .card__header--green {
  background: #41bead;
}

.cards .card__title {
  text-align: center;
}

.cards .card__label {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
  text-transform: uppercase;
  position: relative;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.cards .card__label--gray {
  background: #676781;
}

.cards .card__label--violet {
  background: #9a5dc6;
}

.cards .card__content {
  text-align: center;
  padding: 15px 0;
}

.cards .card__info {
  display: inline-block;
  width: 40%;
  margin: 5px 0;
}

.cards .card__footer {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .cards .card__footer {
    display: block;
  }
}

.cards .card__footer::before {
  content: "";
  background: #ffffff;
  width: 360px;
  height: 1px;
  display: inline-block;
  position: relative;
  top: -20px;
}

.cards .card__price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fc4c50;
  width: 30%;
}

.filter--wrapper {
  background: #ffffff;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .filter {
    display: block;
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .filter__label {
    display: block;
    margin-bottom: 2%;
  }
}

@media (max-width: 599px) {
  .filter__label .filter__label__img {
    display: none;
  }
}

.filter__title {
  color: #565656;
}

@media (max-width: 1200px) {
  .filter__title {
    display: block;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .filter__label--level {
    padding-left: 3%;
  }
}

.filter__label__img {
  position: relative;
  top: 5px;
  right: 15px;
}

.filter__label__img--info {
  left: 10px;
}

.filter__label::after {
  content: "";
  background: url(../../assets/icons/arrow.svg) center no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: relative;
  right: 30px;
}

.filter__label--level::after {
  content: "";
  background: url(../../assets/icons/arrow.svg) center no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: relative;
  right: 50px;
}

.program {
  text-align: center;
}

.program__header {
  width: 70%;
  margin: 0 auto;
}

.program__header .program__title {
  text-align: center;
  color: #41bead;
}

.program__header .program__info {
  color: #565656;
  margin: 0;
  margin-bottom: 64px;
}

@media (max-width: 599px) {
  .program__header .program__info {
    text-align: left;
  }
}

.program .program__card-section {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .program .program__card-section {
    display: block;
    text-align: -webkit-center;
  }
}

.program .program__card-section .program__card {
  position: relative;
  padding: 33px 50px;
  width: 610px;
}

@media (max-width: 1200px) {
  .program .program__card-section .program__card {
    width: 60%;
    margin-bottom: 2%;
    padding: 20px 20px;
  }
}

.program .program__card-section .program__image {
  position: absolute;
  top: 22%;
  left: 26%;
}

@media (max-width: 1200px) {
  .program .program__card-section .program__image {
    top: 20%;
    left: 23%;
  }
}

@media (max-width: 599px) {
  .program .program__card-section .program__image {
    display: none;
  }
}

.program .program__card-section .program__card__title {
  padding-left: 90px;
}

@media (max-width: 599px) {
  .program .program__card-section .program__card__title {
    padding: 0;
  }
}

.program .program__card-section .program__card--blue {
  background-color: #e3f3fd;
  border: 4px solid #44a9f8;
  box-sizing: border-box;
  border-radius: 12px;
}

.program .program__card-section .program__card__title--blue {
  color: #44a9f8;
}

.program .program__card-section .program__card--green {
  background-color: #dff4f1;
  border: 4px solid #00af9b;
  box-sizing: border-box;
  border-radius: 12px;
}

.program .program__card-section .program__card__title--green {
  color: #00af9b;
}

.program .program__card-section .program__card__info {
  margin: 0;
  padding-bottom: 30px;
}

@media (max-width: 599px) {
  .program .program__card-section .program__card__info {
    text-align: left;
  }
}

.program .program__card-section .program__card__button {
  padding: 14px 32px;
  background-color: #ff9100;
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 599px) {
  .program .program__card-section .program__card__button {
    font-size: 10px;
    line-height: 16px;
    padding: 7px 32px;
  }
}

.footer__stripe {
  height: 12px;
  width: 100%;
  background-color: #919191;
  margin-top: 160px;
}

.footer {
  background-color: #565656;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-left: 8%;
}

@media (min-width: 900px) {
  .footer {
    padding-left: 21%;
  }
}

@media (max-width: 599px) {
  .footer {
    height: 600px;
  }
  .footer:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 89%;
    top: 80%;
    left: 20px;
    background-color: #696969;
  }
}

.footer__mask {
  position: absolute;
  top: -50%;
  left: 6%;
  display: none;
}

.footer__mask img {
  width: 100%;
}

@media (min-width: 900px) {
  .footer__mask {
    display: block;
    width: 220px;
  }
}

.footer__articles {
  display: flex;
  flex: 0 1 auto;
  padding: 0 2%;
  width: 100%;
}

@media (max-width: 599px) {
  .footer__articles {
    padding-left: 15px;
    padding-right: 5px;
  }
}

.footer__articles .footer__article_wrapper--left {
  display: flex;
  flex-basis: 49%;
}

@media (max-width: 599px) {
  .footer__articles .footer__article_wrapper--left {
    flex-flow: row wrap;
    flex-basis: 45%;
    align-self: end;
  }
}

.footer__articles .footer__article_wrapper--left .footer__softuni-kids {
  display: flex;
  flex-basis: 54%;
}

@media (max-width: 599px) {
  .footer__articles .footer__article_wrapper--left .footer__softuni-kids {
    flex-flow: row wrap;
    flex-basis: 100%;
    align-content: baseline;
    height: 300px;
  }
  .footer__articles .footer__article_wrapper--left .footer__softuni-kids .footer__softuni-kids__wrapper {
    height: 76%;
  }
}

.footer__articles .footer__article_wrapper--left .footer__softuni-kids .footer__softuni-kids__links_policy {
  padding: 87px 0 5px 13px;
  text-align: left;
}

@media (max-width: 599px) {
  .footer__articles .footer__article_wrapper--left .footer__softuni-kids .footer__softuni-kids__links_policy {
    padding: 0;
    margin: 0;
  }
}

.footer__articles .footer__article_wrapper--left .footer__all-courses {
  margin-left: 3%;
}

@media (max-width: 599px) {
  .footer__articles .footer__article_wrapper--left .footer__all-courses {
    margin: 0;
  }
}

.footer .footer__article_wrapper--right {
  display: flex;
  flex-basis: 46%;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .footer .footer__article_wrapper--right {
    flex-flow: row wrap;
    flex-basis: 55%;
    align-self: end;
  }
}

.footer .footer__article_wrapper--right .footer__all-initiatives {
  margin-left: 3%;
}

@media (max-width: 599px) {
  .footer .footer__article_wrapper--right .footer__all-initiatives {
    margin: 0;
  }
}

.footer .footer__article_wrapper--right .footer__find-us {
  width: 37%;
}

@media (max-width: 599px) {
  .footer .footer__article_wrapper--right .footer__find-us {
    margin-top: 3%;
    width: 60%;
  }
  .footer .footer__article_wrapper--right .footer__find-us .footer__article__title {
    display: none;
  }
}

.footer .footer__article_wrapper--right .footer__find-us .footer__social-media-icons-container {
  width: 53%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .footer .footer__article_wrapper--right .footer__find-us .footer__social-media-icons-container {
    width: 80%;
  }
}

.footer .footer__article_wrapper--right .footer__find-us .footer__social-media-icons-container .footer__social-media-icon {
  color: #ffffff;
  font-size: 28px;
}

.footer .footer__article_wrapper--right .footer__find-us .footer__social-media-icons-container .footer__social-media-icon:hover {
  cursor: pointer;
  color: #41bead;
}

.footer .footer__article_wrapper--right .footer__find-us .footer__all-rights-reserved {
  padding-top: 48px;
  color: #919191;
}

@media (max-width: 599px) {
  .footer .footer__article_wrapper--right .footer__find-us .footer__all-rights-reserved {
    position: absolute;
    top: 86%;
    left: 9%;
    width: 80%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.footer .footer__article__title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  margin: 64px 0 14px 0;
}

@media (max-width: 599px) {
  .footer .footer__article__title {
    margin-top: 40px;
    font-size: 17px;
  }
}

.footer .footer__links {
  text-align: left;
  padding: 0;
}

.footer .footer__list-item {
  padding: 6px 0;
}

.footer .footer__list-item .footer__link {
  color: #e6e6e6;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 599px) {
  .footer .footer__list-item .footer__link {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer .footer__list-item .footer__link:hover {
  color: #41bead;
}

.ellipses {
  margin-top: 130px;
  margin-bottom: 100px;
  width: 100%;
}

.ellipses img {
  width: 100%;
}

@media (max-width: 1200px) {
  .ellipses {
    justify-content: center;
  }
}
