.btn {
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  outline: #01016e solid 5px;
  margin-right: 20px;
  cursor: pointer;
}

.btn:hover {
  outline-width: 10px;
}
