.btn {
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    outline: rgb(1, 1, 110) solid 5px;
    margin-right: 20px;

    cursor: pointer;

    &:hover {
        outline-width: 10px;
    }
}
