$Secondary500: #ffc20a;
$Secondary600: #ffb402;
$Secondary800: #ff9100;
$Secondary900: #ff7100;

$Blue: #676781;
$Blue50: #e3f3fd;
$Blue200: #92CDFB;
$Blue300: #66B9F8;
$Blue400: #44a9f8;

$Red: #fc4c50;

$Grey: #f8f8f8;
$Grey100: #f1f1f1;
$Grey200: #e6e6e6;
$Grey400: #b2b2b2;
$Grey500: #919191;
$Grey600: #696969;
$Grey700: #565656;

$Purple: #9a5dc6;

$Primary50: #dff4f1;
$Primary300: #41bead;
$Primary400: #00af9b;

$White: #ffffff;
