@font-face {
    font-family: "Great Vibes";
    src: url("./Great Vibes.ttf") format("truetype");
    font-family: Raleway;
    src: url(./Raleway.ttf) format("truetype");
}

html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Great Vibes, cursive";
    line-height: 1.2;
    font-weight: bold;
}