.btn {
    margin-right: 4%;
    border-radius: 20px;
    border: none;
    padding: 13px 25px;
    color: white;
    font-weight: 500;
}

.btn-container__btn--orange-apply {
    background-color: #FFA000;
}

.btn-container__btn--gray--apply {
    background-color: #D6D6D6;
}

.btn-container__btn--see-all-orange {
    background-color: white;
    border: 1px solid #FFA000;
    color: #ffa000;
}

.btn-container__btn-see-all-gray {
    color: #D6D6D6;
    background-color: #fff;
    border: 1px solid #D6D6D6;
}

.btn-container__btn-login-orange {
    background-color: #FFA000;
}

.btn-container__btn-login-gray {
    background-color: #D6D6D6;
    color: #fff;
}