@import "../settings/settings-breakpoints";


.container-column-centered {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@include for-desktop-up {
    .o-page-wrapper {
        width: 1290px;
        margin: auto;
        justify-self: center;

        @include between-600-and-1200{
            width: auto;
        }
    }

    .o-container-flex {
        display: flex;

        &--for-who {
            margin-top: 2%;
        }
    }
}
