@import "../settings/settings-breakpoints";
.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.container-column-centered {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@include for-desktop-up {
    .o-page-wrapper {
        width: 1290px;
        margin: auto;
    }

    .o-box-1300 {
        width: 86%;
        justify-self: center;
    }

    .o-container-flex {
        display: flex;

        &--for-who {
            margin-top: 2%;
        }
    }
}
