html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    max-width: 60%;
    flex: 0 1 auto;
}

.image {
    margin-left: 15px;
    width: 80px;
    height: 210px;
    border-radius: 8px;
    box-shadow: 0px 2px 9px 0px black;
}

.image:hover{
    width: 350px;
    height: 210px;
    background-color: black;
    padding: 0px 10px 0px 10px;
}