@import "../settings/_settings-colors.scss";
@import "../settings/_settings-breakpoints.scss";
@import "../settings/_settings-mixins.scss";

.footer__stripe {
    height: 12px;
    width: 100%;
    background-color: $Grey500;
    margin-top: 160px;

    @include for-phone-only {
        margin-top: 20%;

        // for trainers.html
        &--trainers {
            margin: 0;
        }
    }
}

.footer {
    background-color: $Grey700;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-left: 8%;

    @include for-tablet-landscape-up {
        padding-left: 21%;
    }

    @include for-phone-only {
        height: 570px;
        padding-left: 0%;

        &:after {
            content: "";
            @include position(absolute, 80%, 20px);
            height: 1px;
            width: 89%;
            background-color: $Grey600;
        }
    }

    &__mask {
        @include position(absolute, -42%, 6%);
        display: none;

        img {
            width: 100%;
        }

        @include for-tablet-landscape-up {
            display: block;
            width: 220px;
        }
    }

    &__articles {
        display: flex;
        flex: 0 1 auto;
        padding: 1.2% 2% 0 4%;
        width: 100%;

        @include for-phone-only {
            padding-left: 15px;
            padding-right: 5px;
        }
    }

    &__article_wrapper--left {
        display: flex;
        flex-basis: 49%;
        margin-top: 5%;

        @include for-phone-only {
            flex-flow: row wrap;
            flex-basis: 45%;
            align-self: end;
        }
    }

    &__all-courses {
        margin-left: 3%;

        @include for-phone-only {
            margin: 3% 0 0 0;
        }
    }

    &__softuni-kids {
        display: flex;
        flex-basis: 54%;

        @include for-phone-only {
            flex-flow: row wrap;
            flex-basis: 100%;
            align-content: baseline;
            height: auto;
        }
    }

    &__softuni-kids__links_policy {
        padding: 6.4% 0 5px 10%;
        text-align: left;

        @include for-phone-only {
            padding: 0;
            margin: 0;
        }
    }

    &__softuni-kids__wrapper {
        height: 76%;
    }

    &__article_wrapper--right {
        display: flex;
        flex-basis: 46%;
        margin-top: 5%;
        justify-content: space-between;

        @include for-phone-only {
            flex-flow: row wrap;
            flex-basis: 55%;
            align-self: end;
        }
    }

    &__find-us {
        width: 37%;

        @include for-phone-only {

            .footer__article__title {
                display: none;
            }

            margin-top: 3.3%;
            width: 60%;
        }
    }

    &__social-media-icons-container {
        width: 53%;
        display: flex;
        justify-content: space-between;

        @include for-phone-only {
            width: 80%;
        }
    }

    &__social-media-icon {
        color: $White;
        font-size: 28px;

        &:hover {
            cursor: pointer;
            color: $Primary300;
        }
    }

    &__all-rights-reserved {
        padding-top: 48px;
        color: $Grey500;

        @include for-phone-only {
            @include position(absolute, 86%, 9%);
            width: 80%;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }

    &__all-initiatives {
        margin-left: 3%;

        @include for-phone-only {
            margin: 0;
        }
    }

    &__article__title {
        color: $White;
        text-align: left;
        margin-bottom: 14px;
        margin-top: 0;

        @include for-phone-only {
            width: 103%;
            margin-top: 20px;
            font-size: 17px;
        }
    }

    &__links {
        text-align: left;
        padding: 0;
    }

    &__list-item {
        padding: 6px 0;
    }

    &__link {
        color: $Grey200;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;

        @include for-phone-only {
            font-size: 16px;
            line-height: 19px;
        }

        &:hover {
            color: $Primary300;
        }
    }
}
