@import "../settings/_settings-colors.scss";
@import "../settings/_settings-breakpoints.scss";
@import "../settings/settings-shadows";

.navbar {
    box-shadow: $Shadow2dp;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__items {
        display: flex;

        @include anything-before-desktop {
            padding: 0;
            flex-flow: row wrap;
        }

        .navbar__item {
            list-style: none;
            margin: 15px;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $Grey700;

                &:hover {
                    cursor: pointer;
                    color: $Secondary800;
                }
            }
        }
    }
}
