@import "../settings/_settings-colors.scss";
@import "../settings/_settings-breakpoints.scss";

.c-main-header {
    position: relative;
    box-shadow: $Shadow2dp;
    z-index: 1;

    &__info {
        background: $Blue400;
        color: $White;
        padding: 15% 10%;
        text-align: -webkit-center;
        align-items: center;

        @include for-desktop-up {
            height: 302px;
            padding: 64px 0 0;
        }

        &__novice {
            color: $White;
            background-color: $Secondary500;
            font-size: 12px;
            line-height: 14px;
            font-style: normal;
            font-weight: bold;
            width: 90px;
            padding: 4px 8px;
            border-radius: 4px;
            box-shadow: $Shadow1dp;
        }

        &__title {
            @include for-desktop-up {
                width: 550px;
            }
        }
    }
}
