@import "../settings/_settings-colors.scss";
@import "../settings/_settings-mixins.scss";
.c-for-who {
    margin: 10% 0;
    width: 100%;
    position: relative;

    @include for-desktop-up {
        padding-left: 6%;
        margin: 0;
        align-items: flex-start;
        align-self: flex-start;
        width: 60%;

        &:after {
            content: url("../../assets/icons/dots-yellow-vertical.svg");
            @include position(absolute, -10%, 110%);
        }
    }

    &__title {
        position: relative;
        width: 50%;
        margin-right: 10%;
        font-weight: 600;

        // Icon on the left of the title
        &:before {
            content: url(../../assets/icons/people.svg);
            @include position(absolute, 10%, -30%);
            transform: scale(1.2);
        }

        @include for-desktop-up {
            width: auto;
            margin: 0 0 3% 0;

            &:before {
                @include position(absolute, 10%, -23%);
            }
        }
    }

    &__text {
        padding: 0 5%;
        @include for-desktop-up {
            padding: 0 10% 0 0;
        }
    }
    &__text span {
        font-weight: bold;
    }

    &__dots-image {
        margin-top: 10%;

        @include for-desktop-up {
            display: none;
        }
    }
}
