@import "../settings/_settings-breakpoints.scss";
@import "../settings/_settings-colors.scss";

.cards--wrapper {
    margin: 50px 0;

    @include anything-before-desktop {
        text-align: -webkit-center;
    }
}

.cards {
    display: flex;
    justify-content: space-between;

    @include anything-before-desktop {
        display: block;
    }

    .card {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
        border-radius: 12px;
        width: 400px;

        @include anything-before-desktop {
            width: 60%;
            height: 30%;
            margin-bottom: 4%;
        }

        &:hover {
            cursor: pointer;
            background: #f8f8f8;

            .card__content {
                background: #f8f8f8;
            }

            .card__footer {
                background: #f8f8f8;
            }
        }

        &__header {
            min-height: 160px;
            color: $White;
            border-radius: 12px 12px 0px 0px;
        }

        &__header--blue {
            background: $Blue400;
        }

        &__header--green {
            background: $Primary300;
        }

        &__title {
            text-align: center;
        }

        &__label {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
            border-radius: 4px;
            padding: 4px 8px;
            width: fit-content;
            text-transform: uppercase;
            position: relative;
            top: 10px;
            left: 10px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
        }

        &__label--gray {
            background: $Blue;
        }

        &__label--violet {
            background: $Purple;
        }

        &__content {
            text-align: center;
            padding: 15px 0;
        }

        &__info {
            display: inline-block;
            width: 40%;
            margin: 5px 0;
        }

        &__footer {
            display: flex;
            flex-flow: row wrap;
            padding: 20px;
            align-items: center;
            justify-content: space-between;

            @include anything-before-desktop {
                display: block;
            }
        }

        &__footer::before {
            content: "";
            background: $White;
            width: 360px;
            height: 1px;
            display: inline-block;
            position: relative;
            top: -20px;
        }

        &__price {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: $Red;
            width: 30%;
        }
    }
}
