@import "../settings/_settings-colors.scss";
@import "../settings/_settings-mixins.scss";
.c-for-who {
    margin: 10% 5%;

    &__title {
        position: relative;
        width: 50%;
        margin-right: 20%;
        font-weight: 600;

        // Icon on the left of the title
        &:before {
            content: url(../../assets/icons/people.svg);
            @include position(absolute, 10%, -26%);
            transform: scale(1.2);
        }
    }
    &__text span {
        font-weight: bold;
    }

    &__dots-image {
        margin: 10% 10% 0 0;
    }
}
