@import "../settings/_settings-colors.scss";
@import "../settings/_settings-breakpoints.scss";
@import "../settings/_settings-mixins.scss";

.footer__stripe {
    height: 12px;
    width: 100%;
    background-color: $Grey500;
    margin-top: 160px;

    @include for-phone-only {
        margin-top: 20%;
    }
}

.footer {
    background-color: $Grey700;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-left: 8%;

    @include for-tablet-landscape-up {
        padding-left: 21%;
    }

    @include for-phone-only {
        height: 570px;
        padding-left: 0%;

        &:after {
            content: "";
            @include position(absolute, 80%, 20px);
            height: 1px;
            width: 89%;
            background-color: $Grey600;
        }
    }

    &__mask {
        @include position(absolute, -50%, 6%);
        display: none;

        img {
            width: 100%;
        }

        @include for-tablet-landscape-up {
            display: block;
            width: 220px;
        }
    }

    &__articles {
        display: flex;
        flex: 0 1 auto;
        padding: 0 2%;
        width: 100%;

        @include for-phone-only {
            padding-left: 15px;
            padding-right: 5px;
        }

        .footer__article_wrapper--left {
            display: flex;
            flex-basis: 49%;
            margin-top: 5%;

            @include for-phone-only {
                flex-flow: row wrap;
                flex-basis: 45%;
                align-self: end;
            }

            .footer__softuni-kids {
                display: flex;
                flex-basis: 54%;

                @include for-phone-only {
                    flex-flow: row wrap;
                    flex-basis: 100%;
                    align-content: baseline;
                    height: auto;

                    .footer__softuni-kids__wrapper {
                        height: 76%;
                    }
                }

                .footer__softuni-kids__links_policy {
                    padding: 87px 0 5px 13px;
                    text-align: left;

                    @include for-phone-only {
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .footer__all-courses {
                margin-left: 3%;

                @include for-phone-only {
                    margin: 0;
                }
            }
        }
    }

    .footer__article_wrapper--right {
        display: flex;
        flex-basis: 46%;
        margin-top: 5%;
        justify-content: space-between;

        @include for-phone-only {
            flex-flow: row wrap;
            flex-basis: 55%;
            align-self: end;
        }

        .footer__all-initiatives {
            margin-left: 3%;

            @include for-phone-only {
                margin: 0;
            }
        }

        .footer__find-us {
            width: 37%;

            @include for-phone-only {
                margin-top: 3%;
                width: 60%;

                .footer__article__title {
                    display: none;
                }
            }

            .footer__social-media-icons-container {
                width: 53%;
                display: flex;
                justify-content: space-between;

                @include for-phone-only {
                    width: 80%;
                }

                .footer__social-media-icon {
                    color: $White;
                    font-size: 28px;

                    &:hover {
                        cursor: pointer;
                        color: $Primary300;
                    }
                }
            }

            .footer__all-rights-reserved {
                padding-top: 48px;
                color: $Grey500;

                @include for-phone-only {
                    @include position(absolute, 86%, 9%);
                    width: 80%;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .footer__article__title {
        color: $White;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        margin: 64px 0 14px 0;

        @include for-phone-only {
            width: 110%;
            margin-top: 20px;
            font-size: 17px;
        }
    }

    .footer__links {
        text-align: left;
        padding: 0;
    }

    .footer__list-item {
        padding: 6px 0;

        .footer__link {
            color: $Grey200;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;

            @include for-phone-only {
                font-size: 16px;
                line-height: 19px;
            }

            &:hover {
                color: $Primary300;
            }
        }
    }
}
