.container {
  padding-top: 100px;
  justify-content: center;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-gap: 10px;
}

.container__box {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
