/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");
*, *::before, *::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b, strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button, select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container-column-centered {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .o-page-wrapper {
    width: 1290px;
    margin: auto;
    justify-self: center;
  }
}

@media (min-width: 1200px) and (min-width: 600px) and (max-width: 1200px) {
  .o-page-wrapper {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .o-container-flex {
    display: flex;
  }
  .o-container-flex--for-who {
    margin-top: 2%;
  }
}

a {
  text-decoration: none;
}

select {
  background: #ffffff;
  border: 1px solid #ff9100;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 18px;
  -webkit-appearance: none;
  min-width: 200px;
  min-height: 45px;
}

select:hover {
  cursor: pointer;
}

select::placeholder {
  color: #919191;
}

p {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

li {
  list-style: none;
}

body {
  background-color: #ffffff;
  color: #565656;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.woff2") format("woff2");
}

html,
* {
  font-family: "Lato", sans-serif;
}

a,
button {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

button {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}

h4 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

h5 {
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
}

.c-card__button {
  align-self: center;
  justify-self: center;
}

.centered {
  text-align: center;
}

.centered__container {
  width: 65%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@keyframes scale-and-skew {
  from {
    transform: scale(1) skew(0deg);
  }
  to {
    transform: scale(1.1) skew(8deg);
  }
}

@keyframes scale-and-skew-out {
  from {
    transform: scale(1.1) skew(8deg);
  }
  to {
    transform: scale(1) skew(0deg);
  }
}

@keyframes revial {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.zone-1 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 0.1s;
}

.zone-2 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 0.2s;
}

.zone-3 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 0.3s;
}

.zone-4 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 0.4s;
}

.zone-5 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 0.5s;
}

.zone-6 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 0.6s;
}

.zone-7 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 0.7s;
}

.zone-8 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 0.8s;
}

.zone-9 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 0.9s;
}

.zone-10 {
  opacity: 0;
  animation: 0.4s revial forwards;
  animation-delay: 1s;
}

.c-main-navbar__item:hover .letter-1 {
  transition-delay: 0.03s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-2 {
  transition-delay: 0.06s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-3 {
  transition-delay: 0.09s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-4 {
  transition-delay: 0.12s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-5 {
  transition-delay: 0.15s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-6 {
  transition-delay: 0.18s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-7 {
  transition-delay: 0.21s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-8 {
  transition-delay: 0.24s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-9 {
  transition-delay: 0.27s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-10 {
  transition-delay: 0.3s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-11 {
  transition-delay: 0.33s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-12 {
  transition-delay: 0.36s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-13 {
  transition-delay: 0.39s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-14 {
  transition-delay: 0.42s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-15 {
  transition-delay: 0.45s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-16 {
  transition-delay: 0.48s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-17 {
  transition-delay: 0.51s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-18 {
  transition-delay: 0.54s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-19 {
  transition-delay: 0.57s;
  color: #ff9100;
}

.c-main-navbar__item:hover .letter-20 {
  transition-delay: 0.6s;
  color: #ff9100;
}

.shadow-transition {
  transition: box-shadow 0.5s ease-out;
}

.shadow-transition:hover {
  box-shadow: 11px 18px 40px -14px rgba(0, 0, 0, 0.75);
}

.scale-element {
  transition: transform 0.1s ease-out;
}

.scale-element:hover {
  transform: scale(1.4);
}

.c-main-header {
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.c-main-header__info {
  background: #44a9f8;
  color: #ffffff;
  padding: 15% 10%;
  text-align: -webkit-center;
  align-items: center;
}

@media (min-width: 1200px) {
  .c-main-header__info {
    height: 302px;
    padding: 64px 0 0;
  }
}

.c-main-header__info__novice {
  color: #ffffff;
  background-color: #ffc20a;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: bold;
  width: 90px;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .c-main-header__info__title {
    width: 550px;
  }
}

.c-main-navbar {
  display: grid;
  grid-template-rows: 74px;
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: 32px;
  align-items: center;
  position: relative;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-main-navbar {
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 599px) {
  .c-main-navbar {
    grid-column-gap: 0;
  }
  .c-main-navbar:before {
    content: url("../../assets/icons/menu.svg");
    position: absolute;
    top: 40%;
    left: 88%;
  }
}

.c-main-navbar__logo-and-arrow {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 16px;
  align-self: center;
  position: relative;
}

@media (max-width: 599px) {
  .c-main-navbar__logo-and-arrow {
    margin-left: 20px;
  }
  .c-main-navbar__logo-and-arrow:before {
    content: url("../../assets/icons/Arrow-right.svg");
    position: absolute;
    top: -10px;
    left: 20px;
  }
  .c-main-navbar__logo-and-arrow:after {
    content: url("../../assets/icons/logo-vertical.svg");
    position: absolute;
    top: -27px;
    left: 45px;
  }
}

@media (max-width: 599px) {
  .c-main-navbar__logo {
    display: none;
  }
}

.c-main-navbar__arrow img {
  padding: 0 14px;
}

@media (max-width: 599px) {
  .c-main-navbar__arrow {
    display: none;
  }
}

.c-main-navbar__items {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-column-gap: 48px;
  justify-content: right;
}

@media (max-width: 599px) {
  .c-main-navbar__items {
    display: none;
  }
  .c-main-navbar__items:hover {
    display: block;
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-main-navbar__items {
    grid-template-columns: auto;
    grid-template-rows: max-content max-content max-content max-content max-content;
    justify-items: center;
    padding: 0;
  }
}

.c-main-navbar__item {
  padding: 5px;
  transition: all 0.3s ease-out;
}

.c-main-navbar__item__link {
  text-transform: uppercase;
  color: #565656;
}

.c-main-navbar__item:hover {
  border-radius: 5px;
  background-color: whitesmoke;
  cursor: pointer;
}

.c-main-navbar__button-and-search {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 32px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-main-navbar__button-and-search {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
  }
}

.c-main-navbar__search img {
  padding: 0 14px;
}

@media (max-width: 599px) {
  .c-main-navbar__search {
    display: none;
  }
}

@media (max-width: 599px) {
  .c-main-navbar__button {
    font-size: 13px;
    line-height: 16px;
    margin-right: 30px;
  }
}

.btn {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px 22px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 800;
  animation-name: scale-and-skew-out;
  animation-duration: 0.2s;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  animation-name: scale-and-skew;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.btn--secondary {
  background: #ff9100;
  color: #ffffff;
}

.btn--inverted {
  background-color: #ffffff;
  color: #ff9100;
  border: 1px solid #ff9100;
}

.btn--contact-us-card {
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  box-shadow: none;
}

.simple-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.simple-button:hover {
  transform: scale(1.3);
  background-color: whitesmoke;
  border-radius: 50%;
}

.footer {
  background-color: #565656;
  width: 100%;
  display: grid;
}

@media (max-width: 599px) {
  .footer {
    height: 570px;
    margin-top: 80px;
  }
  .footer--trainers {
    margin: 0;
  }
}

.footer--trainers {
  position: relative;
  z-index: 1;
}

.footer__stripe {
  height: 12px;
  width: 100%;
  background-color: #919191;
}

.footer__mask {
  position: absolute;
  top: -90px;
  left: -10px;
}

.footer__mask__image {
  width: 100%;
}

@media (max-width: 599px) {
  .footer__mask {
    display: none;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-template-rows: 250px;
  position: relative;
  justify-content: end;
  justify-items: end;
  align-items: flex-start;
  padding-top: 64px;
}

@media (max-width: 599px) {
  .footer__wrapper {
    grid-template-columns: 175px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: left;
    align-items: flex-start;
    padding: 0 18px;
    margin: 45px 0 0 0;
  }
}

.footer__softuni-kids {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 599px) {
  .footer__softuni-kids {
    grid-template-columns: 1fr;
  }
}

.footer__policy {
  padding-left: 20px;
  padding-top: 35px;
}

@media (max-width: 599px) {
  .footer__policy {
    padding: 0;
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.footer__all-courses {
  margin-left: 78px;
  position: relative;
}

@media (max-width: 599px) {
  .footer__all-courses {
    margin: 20px 0 0 0;
  }
  .footer__all-courses:after {
    content: "";
    position: absolute;
    top: 135px;
    left: 3px;
    height: 1px;
    width: 335px;
    background-color: #696969;
  }
}

.footer__all-initiatives {
  margin-left: 85px;
}

@media (max-width: 599px) {
  .footer__all-initiatives {
    margin: 0;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

.footer__find-us {
  margin-left: 85px;
  width: 177px;
  position: relative;
}

@media (max-width: 599px) {
  .footer__find-us {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 0 0 20px 0;
    width: auto;
    align-self: flex-end;
  }
  .footer__find-us .footer__article__title {
    display: none;
  }
}

@media (max-width: 599px) {
  .footer__social-media-icons-container {
    display: flex;
  }
}

.footer__social-media-icon {
  color: #ffffff;
  font-size: 28px;
  margin-right: 30px;
}

.footer__social-media-icon:hover {
  cursor: pointer;
  color: #41bead;
}

.footer__all-rights-reserved {
  padding-top: 48px;
  color: #919191;
}

@media (max-width: 599px) {
  .footer__all-rights-reserved {
    position: absolute;
    top: 240px;
    left: -170px;
    width: 335px;
    text-align: center;
    padding: 0;
  }
}

.footer__article__title {
  color: #ffffff;
  text-align: left;
  margin-bottom: 14px;
  margin-top: 0;
  font-family: lato;
}

.footer__links {
  text-align: left;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  padding: 6px 0;
  transition: transform 0.1s ease-out;
}

.footer__list-item:hover {
  transform: scale(1.1);
}

.footer__link {
  color: #e6e6e6;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  transition: color 0.2s ease-out;
}

@media (max-width: 599px) {
  .footer__link {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer__link:hover {
  border-radius: 5px;
  background-color: #424242;
  color: #41bead;
}

.filter--wrapper {
  background: #ffffff;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .filter {
    display: block;
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .filter__label {
    display: block;
    margin-bottom: 2%;
  }
}

@media (max-width: 599px) {
  .filter__label .filter__label__img {
    display: none;
  }
}

.filter__title {
  color: #565656;
}

@media (max-width: 1200px) {
  .filter__title {
    display: block;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .filter__label--level {
    padding-left: 3%;
  }
}

.filter__label__img--info {
  left: 10px;
}

.filter__label::after {
  content: "";
  background: url(../../assets/icons/arrow.svg) center no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: relative;
  right: 30px;
}

.filter__label--level::after {
  content: "";
  background: url(../../assets/icons/arrow.svg) center no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  position: relative;
  right: 50px;
}

.program {
  text-align: center;
}

.program__header {
  width: 70%;
  margin: 0 auto;
}

.program__header .program__title {
  text-align: center;
  color: #41bead;
}

.program__header .program__info {
  color: #565656;
  margin: 0;
  margin-bottom: 64px;
}

@media (max-width: 599px) {
  .program__header .program__info {
    text-align: left;
  }
}

.program .program__card-section {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .program .program__card-section {
    display: block;
    text-align: -webkit-center;
  }
}

.program .program__card-section .program__card {
  position: relative;
  padding: 33px 50px;
  width: 610px;
}

@media (max-width: 1200px) {
  .program .program__card-section .program__card {
    width: 60%;
    margin-bottom: 2%;
    padding: 20px 20px;
  }
}

.program .program__card-section .program__image {
  position: absolute;
  top: 22%;
  left: 26%;
}

@media (max-width: 1200px) {
  .program .program__card-section .program__image {
    top: 20%;
    left: 23%;
  }
}

@media (max-width: 599px) {
  .program .program__card-section .program__image {
    display: none;
  }
}

.program .program__card-section .program__card__title {
  padding-left: 90px;
}

@media (max-width: 599px) {
  .program .program__card-section .program__card__title {
    padding: 0;
  }
}

.program .program__card-section .program__card--blue {
  background-color: #e3f3fd;
  border: 4px solid #44a9f8;
  box-sizing: border-box;
  border-radius: 12px;
}

.program .program__card-section .program__card__title--blue {
  color: #44a9f8;
}

.program .program__card-section .program__card--green {
  background-color: #dff4f1;
  border: 4px solid #00af9b;
  box-sizing: border-box;
  border-radius: 12px;
}

.program .program__card-section .program__card__title--green {
  color: #00af9b;
}

.program .program__card-section .program__card__info {
  margin: 0;
  padding-bottom: 30px;
}

@media (max-width: 599px) {
  .program .program__card-section .program__card__info {
    text-align: left;
  }
}

.program .program__card-section .program__card__button {
  padding: 14px 32px;
  background-color: #ff9100;
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 599px) {
  .program .program__card-section .program__card__button {
    font-size: 10px;
    line-height: 16px;
    padding: 7px 32px;
  }
}

.ellipses {
  margin-top: 130px;
  margin-bottom: 100px;
  width: 100%;
}

.ellipses img {
  width: 100%;
}

@media (max-width: 1200px) {
  .ellipses {
    justify-content: center;
  }
}

.signup {
  position: absolute;
  top: 47%;
  left: 5%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: #ffffff;
  width: 90%;
  height: 562;
  z-index: 1;
}

@media (min-width: 1200px) {
  .signup {
    position: absolute;
    top: 39%;
    left: 5.5%;
    display: flex;
    margin: 0;
    padding: 0;
    height: 115px;
    width: 1290px;
  }
}

@media (min-width: 1500px) {
  .signup {
    left: 12%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .signup {
    position: absolute;
    top: 650px;
    left: 5.5%;
  }
}

.signup__button__wrapper {
  text-align: center;
}

.signup__button__wrapper .signup__button {
  margin-top: 50px;
  padding: 16px 94px;
}

@media (min-width: 1200px) {
  .signup__button__wrapper .signup__button {
    width: 165px;
    height: 50px;
    padding: 16px 10px;
    margin: 30px 65px;
  }
}

.signup__image-wrapper {
  width: 105%;
  position: absolute;
  top: 29%;
  left: -2%;
}

.signup__image-wrapper img {
  width: 99%;
}

@media (min-width: 1200px) {
  .signup__image-wrapper {
    position: relative;
    width: 10px;
  }
  .signup__image-wrapper img {
    display: none;
  }
  .signup__image-wrapper:after {
    content: url("../../assets/icons/vertical-dots.svg");
    position: absolute;
    top: -40px;
    left: 0;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .signup__image-wrapper {
    display: none;
  }
}

@media (min-width: 1200px) {
  .signup__info {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.signup__group {
  display: flex;
  margin: 0 0 8% 6%;
  position: relative;
}

.signup__group::before {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #f1f1f1;
  position: absolute;
  top: 120%;
  left: 0;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .signup__group::before {
    width: 100px;
    position: absolute;
    top: 130%;
    left: 40%;
  }
}

.signup__group:last-child::before {
  display: none;
}

@media (min-width: 1200px) {
  .signup__group {
    padding: 0 6% 0 0;
    margin: 0;
  }
  .signup__group::before {
    width: 2px;
    height: 24px;
    position: absolute;
    top: 30%;
    left: 87%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .signup__group {
    justify-content: center;
  }
}

.signup__price {
  margin-top: 25%;
}

@media (min-width: 1200px) {
  .signup__price {
    margin: 0;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .signup__price {
    margin-top: 10%;
  }
}

.signup__details {
  height: 60px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin-left: 24px;
}

.signup__details h4 {
  margin: 0;
  color: #ff9100;
}

.signup__details h5 {
  margin: 0;
  color: #565656;
}

.main-intro {
  margin-top: 142%;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main-intro {
    margin-top: 700px;
  }
}

.main-intro__text {
  align-items: center;
  padding: 0 5% 8% 5%;
  color: #565656;
}

.main-intro__image-wrapper {
  position: relative;
  padding: 0 5%;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main-intro__image-wrapper {
    text-align: center;
    transform: scale(1.2);
  }
}

.main-intro__image-wrapper__icon {
  position: absolute;
  top: 65px;
  left: 160px;
}

@media (min-width: 1200px) {
  .main-intro__image-wrapper__icon {
    position: absolute;
    top: 33%;
    left: 42%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main-intro__image-wrapper__icon {
    position: absolute;
    top: 65px;
    left: 46%;
  }
}

.c-for-who {
  margin: 10% 0;
  width: 100%;
  position: relative;
}

@media (min-width: 1200px) {
  .c-for-who:after {
    content: url("../../assets/icons/dots-yellow-vertical.svg");
    position: absolute;
    top: 0%;
    left: 120%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-for-who {
    text-align: center;
  }
}

.c-for-who__title {
  position: relative;
  width: 50%;
  margin-right: 10%;
  font-weight: 600;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-for-who__title {
    margin: 0 0 10px 0;
  }
}

.c-for-who__title:before {
  content: url(../../assets/icons/people.svg);
  position: absolute;
  top: 10%;
  left: -30%;
}

@media (min-width: 1200px) {
  .c-for-who__title:before {
    position: absolute;
    top: 10%;
    left: -13%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-for-who__title:before {
    position: absolute;
    top: 10%;
    left: 0;
  }
}

.c-for-who__text {
  padding: 0 5%;
}

.c-for-who__text span {
  font-weight: bold;
}

.c-for-who__dots-image {
  margin-top: 10%;
}

@media (min-width: 1200px) {
  .c-for-who__dots-image {
    display: none;
  }
}

.c-important {
  position: relative;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-important {
    text-align: center;
  }
}

.c-important__title--desktop {
  display: none;
}

@media (min-width: 1200px) {
  .c-important__title--desktop {
    display: block;
    font-weight: 600;
    margin: 0 0 3% 0;
  }
  .c-important__title--desktop:before {
    content: url(/assets/icons/puzzle.svg);
    position: absolute;
    top: 0%;
    left: -12%;
  }
}

.c-important__title {
  font-weight: 600;
  margin-top: 0;
  margin-right: 25%;
}

.c-important__title:before {
  content: url(/assets/icons/bell.svg);
  position: absolute;
  top: 0;
  left: 20px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-important__title:before {
    position: absolute;
    top: 0;
    left: 37%;
  }
}

@media (min-width: 1200px) {
  .c-important__title {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-important__title {
    margin: 0 0 10px 0;
  }
}

.c-important__text {
  padding: 0 5%;
  margin-bottom: 8%;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .c-important__text {
    margin-bottom: 20px;
  }
}

.c-important__text span {
  font-weight: bold;
}

.main__c-course-path {
  width: 100%;
  height: 760px;
  background-color: #ffc20a;
  position: relative;
  margin-top: 10%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .main__c-course-path {
    height: 560px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-course-path {
    text-align: center;
  }
}

.main__c-course-path:before {
  content: url("../../assets/icons/yellow section.svg");
  position: absolute;
  top: -9px;
  left: 0%;
}

@media (min-width: 1200px) {
  .main__c-course-path:before {
    content: url("../../../assets/icons/course-path-desktop.svg");
    position: absolute;
    top: -10px;
    left: 0;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1467px) {
  .main__c-course-path:before {
    position: absolute;
    top: -10px;
    left: 6%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-course-path:before {
    position: absolute;
    top: -10px;
    left: 30%;
  }
}

.main__c-course-path:after {
  content: url("../../assets/icons/yellow section end.svg");
  position: absolute;
  top: 752px;
  left: 0;
}

@media (min-width: 1200px) {
  .main__c-course-path:after {
    content: url("../../../assets/icons/course-path-desktop-shadow.svg");
    position: absolute;
    top: 552px;
    left: 0;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1467px) {
  .main__c-course-path:after {
    position: absolute;
    top: 552px;
    left: 6%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-course-path:after {
    position: absolute;
    top: 752px;
    left: 27%;
  }
}

.main__c-course-path__title {
  margin: 0 0 10% 17%;
  padding-top: 10%;
  font-weight: 600;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-course-path__title {
    margin: 0 0 20px 0;
  }
}

.main__c-course-path__title:before {
  content: url("../../assets/icons/book.svg");
  position: absolute;
  top: 5%;
  left: 5%;
}

@media (min-width: 1200px) {
  .main__c-course-path__title:before {
    position: absolute;
    top: 7%;
    left: -9%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-course-path__title:before {
    display: none;
  }
}

.main__c-course-path__text {
  padding: 0 5%;
}

.main__c-course-path__title-exercises {
  margin-right: 65%;
  margin-bottom: 15px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-course-path__title-exercises {
    margin: 10px 0 20px 0;
  }
}

.main__c-course-path__input {
  background-color: #ffffff;
  width: 335px;
  border-radius: 6px;
  border: none;
  padding: 2%;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-column-gap: 3px;
  align-items: center;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-course-path__input {
    width: 450px;
  }
}

.main__c-course-path__icon {
  display: none;
}

.main__c-when-and-where {
  position: relative;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-when-and-where {
    text-align: center;
  }
}

.main__c-when-and-where:after {
  content: url("../../assets/icons/yellow-dots.svg");
  position: absolute;
  top: 103%;
  left: 5%;
}

@media (min-width: 1200px) {
  .main__c-when-and-where:after {
    content: url("../../../assets/icons/yellow-vertical-elipses-long.svg");
    position: absolute;
    top: 0%;
    left: 106%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-when-and-where:after {
    position: absolute;
    top: 106%;
    left: 30%;
  }
}

.main__c-when-and-where__title {
  margin: 16% 0% 5% 19%;
  font-weight: 600;
  position: relative;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-when-and-where__title {
    margin: 10% 0 30px 0;
  }
}

.main__c-when-and-where__title:before {
  content: url("../../assets/icons/clock.svg");
  position: absolute;
  top: 3%;
  left: -18%;
}

@media (min-width: 1200px) {
  .main__c-when-and-where__title:before {
    position: absolute;
    top: 3%;
    left: -11%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-when-and-where__title:before {
    position: absolute;
    top: 3%;
    left: -10%;
  }
}

.main__c-when-and-where__text {
  padding: 0 5% 6% 5%;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-when-and-where__text {
    padding-bottom: 20px;
  }
}

.main__c-when-and-where__text span {
  font-weight: bold;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-extra-info {
    text-align: center;
    margin-bottom: 40px;
  }
}

.main__c-extra-info__title {
  margin: 18% 0 5% 18%;
  position: relative;
  font-weight: 600;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-extra-info__title {
    margin: 10% 0 30px 0;
  }
}

.main__c-extra-info__title:before {
  content: url("../../assets/icons/lamp.svg");
  position: absolute;
  top: 3%;
  left: -16%;
}

@media (min-width: 1200px) {
  .main__c-extra-info__title:before {
    position: absolute;
    top: 3%;
    left: -12%;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-extra-info__title:before {
    position: absolute;
    top: 3%;
    left: 18%;
  }
}

.main__c-extra-info__text {
  padding: 0 5% 6% 5%;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main__c-extra-info__text {
    padding-bottom: 20px;
  }
}

.main__c-extra-info__text a {
  position: relative;
  color: #ffc20a;
  font-size: 16px;
  line-height: 20px;
}

.main__c-extra-info__text a:after {
  content: "";
  position: absolute;
  top: 103%;
  left: 0%;
  width: 25px;
  height: 1px;
  background-color: #ffc20a;
}

.main__c-extra-info__text span {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-rows: 376px 1fr 410px;
  }
  .header {
    grid-row: 1 / 2;
  }
  .main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 150px 350px 66px 200px 60px max-content 50px 270px 100px max-content max-content 40px;
  }
  .main-intro {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 750px 110px 1fr;
    margin: 0;
  }
  .main-intro__text-wrapper {
    grid-column: 1 / 2;
  }
  .main-intro__text {
    padding: 0 0 3% 0;
  }
  .main-intro__image-wrapper {
    grid-column: 3 / 4;
    justify-self: center;
    align-self: center;
    transform: scale(1.3);
    margin: 0;
  }
  .main__for-who-and-important {
    grid-row: 4 / 5;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .main__for-who-and-important .c-for-who {
    margin: 0 0 0 64px;
    width: 490px;
    align-self: flex-start;
    justify-self: left;
  }
  .main__for-who-and-important .c-for-who__title {
    width: 100%;
    margin: 0;
  }
  .main__for-who-and-important .c-for-who__text {
    padding: 3% 0;
  }
  .main__for-who-and-important .c-important {
    width: 490px;
    align-items: flex-start;
    justify-self: end;
  }
  .main__for-who-and-important .c-important__text {
    margin: 0;
    padding: 2% 0 3% 0;
  }
  .main__c-course-path {
    grid-row: 6 / 7;
    padding: 0;
    margin: 0;
  }
  .main__c-course-path__wrapper {
    display: grid;
    grid-template-columns: 770px 1fr;
    margin-top: 60px;
  }
  .main__c-course-path__article {
    align-self: center;
    width: 675px;
    justify-self: center;
    margin-left: 30px;
  }
  .main__c-course-path__icon {
    display: block;
    justify-self: center;
    align-self: center;
    margin: 29% 0 0 30px;
  }
  .main__c-course-path__title {
    margin: 0;
    padding: 0 0 3% 0;
    position: relative;
  }
  .main__c-course-path__text {
    padding: 0 0 4% 0;
  }
  .main__c-course-path__input-fields {
    align-content: flex-start;
  }
  .main__c-course-path__input {
    width: 675px;
  }
  .main__c-course-path__title-exercises {
    margin: 0;
    padding: 0 0 2% 0;
    align-self: flex-start;
  }
  .main__c-course-path__icon {
    position: relative;
    z-index: 1;
  }
  .main__certificate {
    grid-row: 8 / 9;
    grid-template-columns: 560px max-content;
    grid-column-gap: 240px;
    justify-content: center;
  }
  .main__certificate__text-wrapper {
    align-self: flex-start;
    align-self: center;
  }
  .main__certificate__image-wrapper {
    justify-self: center;
    align-self: center;
  }
  .main__certificate__image {
    background-color: #d6d6d6;
    height: 260px;
    width: 360px;
    border-radius: 10px;
    padding: 32% 25%;
  }
  .main__certificate__title {
    font-weight: 600;
  }
  .main__when-and-extra {
    grid-row: 11 / 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main__when-and-extra .main__c-when-and-where {
    display: block;
    width: auto;
    width: 545px;
    justify-self: end;
    margin-left: 65px;
  }
  .main__when-and-extra .main__c-when-and-where__title {
    padding: 0 0 3% 0;
    margin: 0;
  }
  .main__when-and-extra .main__c-when-and-where__text {
    padding: 0 0 4% 0;
  }
  .main__when-and-extra .main__c-extra-info {
    display: block;
    width: auto;
    grid-column: 3 / 4;
    padding: 0;
    margin: 0;
    width: 545px;
    justify-self: center;
  }
  .main__when-and-extra .main__c-extra-info__title {
    padding: 0 0 3% 0;
    margin: 0;
  }
  .main__when-and-extra .main__c-extra-info__text {
    padding: 0 0 4% 0;
  }
  footer {
    grid-row: 3;
    align-self: flex-end;
  }
  .footer__stripe {
    margin: 0;
    align-self: flex-end;
  }
}

.main__certificate {
  display: none;
  position: relative;
}

@media (min-width: 1200px) {
  .main__certificate {
    display: grid;
  }
  .main__certificate:before {
    content: url("../../../assets/icons/reward 1.svg");
    position: absolute;
    top: 40%;
    left: 0%;
  }
}

.c-trainers {
  background-color: #ffb402;
}

.c-trainers__title {
  margin: 0 0 7% 0;
  padding-top: 16%;
  color: #ffffff;
}

.c-trainers__text {
  color: #ffffff;
  padding: 0 5.3% 18% 5.3%;
  text-align: center;
}

.c-managers__wrapper {
  position: relative;
}

.c-managers__wrapper:after {
  content: url("../../assets/icons/blue-dots.svg");
  position: absolute;
  top: 103.9%;
  left: 5.1%;
  z-index: 1;
}

@media (min-width: 1200px) {
  .c-managers__wrapper:after {
    content: url("../../assets/icons/blue-dots-long.svg");
    position: absolute;
    top: 128%;
    left: 5px;
  }
}

.c-managers__image {
  margin-top: 13%;
}

.c-managers__name {
  color: #41bead;
  font-weight: bold;
  margin-top: 9%;
  margin-bottom: 3%;
}

.c-managers__role {
  color: #b2b2b2;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7%;
}

.c-managers__details {
  padding: 0 5.3%;
}

.c-teachers {
  margin-top: 35.5%;
}

.c-teachers__teacher {
  margin-bottom: 12%;
}

.c-teachers__teacher--desktop {
  display: none;
}

.c-teacher__name {
  margin: 7% 0 3% 0;
  color: #41bead;
}

.c-teacher__role {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.c-become-a-part {
  position: relative;
  background-color: #66b9f8;
  color: #ffffff;
  padding: 0 5.3%;
  margin-top: 24%;
}

.c-become-a-part:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 100%;
  background-color: #92cdfb;
}

.c-become-a-part__title {
  margin: 21% 0 7% 0;
}

.c-become-a-part__text {
  margin-bottom: 14%;
}

.c-become-a-part__input-fields-wrapper {
  display: block;
  width: 100%;
}

.c-become-a-part__input {
  padding: 5% 5%;
  border: 1px solid white;
  border-radius: 6px;
  margin-bottom: 10%;
  width: 100%;
  background-color: #66b9f8;
  border: 1px solid #ffffff;
}

.c-become-a-part__input::placeholder {
  color: #ffffff;
}

.c-become-a-part__button {
  margin-top: 4%;
  margin-bottom: 19%;
  padding: 4% 38.5%;
}

@media (min-width: 1200px) {
  .trainers-grid-container {
    display: grid;
    grid-template-rows: 76px 1fr 320px;
  }
  .header {
    grid-row: 1 / 2;
  }
  .trainers-main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 260px 96px 400px 154px 1fr 130px 410px;
  }
  .trainers-main .c-trainers {
    grid-row: 1 / 2;
  }
  .trainers-main .c-trainers__title {
    margin: 0 0 2% 0;
    padding: 0;
    font-weight: 600;
  }
  .trainers-main .c-trainers__text {
    width: 850px;
    text-align: center;
    padding: 0;
  }
  .trainers-main .c-managers {
    grid-row: 3 / 4;
  }
  .trainers-main .c-managers .container-column-centered {
    width: auto;
    align-items: flex-start;
  }
  .trainers-main .c-managers__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .trainers-main .c-managers__wrapper__manager {
    display: flex;
    flex-flow: row;
  }
  .trainers-main .c-managers__name {
    margin: 0 0 1.5% 0;
  }
  .trainers-main .c-managers__details {
    padding: 0;
    width: 410px;
  }
  .trainers-main .c-managers__role {
    margin: 0 0 4% 0;
  }
  .trainers-main .c-managers__image {
    margin: 0 4.5% 0 0;
    align-self: flex-start;
  }
  .trainers-main .c-teachers {
    grid-row: 5 / 6;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 300px 300px 300px 300px;
    grid-row-gap: 65px;
  }
  .trainers-main .c-teachers .container-column-centered {
    width: auto;
    align-items: center;
  }
  .trainers-main .c-teachers__image-wrapper {
    position: relative;
  }
  .trainers-main .c-teachers__image-wrapper:hover:before {
    content: url(../../../assets/icons/I-icon.svg);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .trainers-main .c-teachers__teacher {
    margin: 0;
  }
  .trainers-main .c-teachers__teacher--desktop {
    display: flex;
  }
  .trainers-main .c-become-a-part {
    grid-row: 7 / 8;
    margin: 0;
    display: grid;
    grid-template-rows: 120px 60px 140px;
  }
  .trainers-main .c-become-a-part__title {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    align-self: flex-end;
    justify-self: center;
  }
  .trainers-main .c-become-a-part__text {
    margin: 0;
    width: 850px;
    text-align: center;
    align-self: flex-end;
    justify-self: center;
  }
  .trainers-main .c-become-a-part__input {
    padding: 16px;
    margin: 0;
  }
  .trainers-main .c-become-a-part__button {
    margin: 0;
    padding: 14px 32px;
    width: 140px;
    margin-left: 15px;
  }
  .trainers-main .c-become-a-part__input-fields-wrapper {
    display: grid;
    grid-template-columns: 228px 228px 228px 140px;
    grid-column-gap: 36px;
  }
  footer {
    grid-row: 3;
  }
}

.c-map {
  width: 100%;
}

.c-map__image {
  background-size: cover;
  width: 100%;
  height: 500px;
}

.contact-us-grid-container {
  display: grid;
  grid-template-rows: 76px 1fr 280px;
}

.header {
  grid-row: 1 / 2;
}

.contact-us-main {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 200px 300px 175px 530px 1fr;
}

@media (max-width: 1000px) {
  .contact-us-main {
    grid-template-rows: auto;
  }
}

.contact-us-main .c-map {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.contact-us-main .c-card {
  grid-row: 2 / 4;
  grid-column: 1;
  z-index: 1;
}

@media (max-width: 1000px) {
  .contact-us-main .c-card {
    grid-row: 3 / 4;
  }
}

.contact-us-main .c-write-us {
  grid-row: 4;
}

.contact-us-main .c-directions {
  grid-row: 5;
}

footer {
  grid-row: 3;
}

.c-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 110px 1fr;
  width: 519px;
  height: 382px;
  border-radius: 12px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-right: 58.5%;
}

@media (max-width: 1000px) {
  .c-card {
    margin: 0 0 20px 0;
    width: 100%;
    transform: scale(1.2);
  }
  .c-card:hover {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
}

.c-card__address {
  width: 205px;
  justify-self: center;
}

.c-card__workhours {
  width: 215px;
  display: grid;
  grid-template-rows: 1fr 60px 60px;
}

.c-card__article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.c-card__contacts {
  width: 215px;
  align-self: flex-end;
  justify-self: center;
}

.c-card__heading {
  color: #41bead;
  margin-bottom: 20px;
}

.c-card__text {
  width: 105px;
  display: inline-block;
  align-self: flex-start;
}

.c-card__contacts__text {
  padding-bottom: 12px;
}

.c-card__span {
  color: #ff9100;
  align-self: flex-start;
  margin-top: 3px;
}

.c-card__button {
  grid-row: 3;
  grid-column: 1/3;
}

.c-write-us {
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-gap: 32px;
  width: 850px;
  justify-self: center;
}

@media (max-width: 1000px) {
  .c-write-us {
    margin-bottom: 20px;
  }
}

.c-write-us__input-section {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 52px 192px 50px;
}

.c-write-us__title {
  grid-column: 1;
  justify-self: center;
  align-self: flex-end;
  margin: 0;
  color: #41bead;
  font-weight: 600;
}

.c-write-us__input {
  border: 1px solid #919191;
  border-radius: 6px;
  padding: 16px;
}

.c-write-us__input--subject {
  grid-column: 1 / 2;
}

.c-write-us__input--email {
  grid-column: 2 / 3;
}

.c-write-us__input--message {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  padding-bottom: 150px;
}

.c-write-us__button {
  grid-row: 3;
  align-self: flex-start;
  width: 140px;
  padding: 14px 32px;
}

.c-directions {
  background-color: #fff8e1;
}

.c-directions__header {
  text-align: center;
  color: #41bead;
  margin-top: 96px;
}

@media (max-width: 1000px) {
  .c-directions__header {
    font-size: 35px;
  }
}

.c-directions__info-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 432px;
  align-items: flex-start;
  justify-items: center;
}

.c-directions__title {
  color: #41bead;
}

@media (max-width: 1000px) {
  .c-directions__title {
    font-size: 30px;
  }
}

.c-directions__paragraph {
  padding-bottom: 16px;
  width: 403px;
}

@media (max-width: 1000px) {
  .c-directions__paragraph {
    font-size: 20px;
  }
}

.c-directions__span {
  font-weight: bold;
}

.c-directions__metro {
  padding-left: 70px;
}

.c-directions__route-taxi {
  padding-left: 50px;
}
