@media screen and (max-width: 884px) {
    .newsletter-intro h4 {
        font-size: 15px;
    }
    .newsletter-intro p {
        font-size: 13px;
    }
    .newsletter-boxes {
        display: block;
    }
    .newsletter-box {
        margin-bottom: 3rem;
    }
    .newsletter-bottom {
        display: flex;
    }
    .newsletter-bottom h4 {
        font-size: 15px;
    }
    .newsletter-bottom hr {
        margin-right: 20px;
    }
    .newsletter-bottom-content-links {
        font-size: 15px;
        text-align: left;
    }
    .newsletter-bottom-content p {
        text-align: left;
    }

    footer .bottom-logo{
        width: 24%;
    }
}