body {
    width: 100vw;
    height: 100vh;
}

.container {
    padding-top: 200px;
    justify-content: center;
    align-items: flex-end;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;

    .letter-wrapper {
        padding: 5px;
    }

    &__a {
        background-color: cyan;
        height: 30px;
    }

    &__b {
        background-color: yellow;
        height: 100px;
    }
    &__c {
        background-color: pink;
        height: 50px;
    }
    &__d {
        background-color: mediumturquoise;
        height: 160px;
    }
    &__e {
        background-color: lightgreen;
        height: 250px;
    }
    &__f {
        background-color: rgba(128, 0, 128, 0.678);
        height: 200px;
    }
    &__g {
        background-color: orange;
        height: 30px;
    }
}
